<head>
  <title>Cadastrar Local</title>
  <div th:replace="~{fragments/head :: top}"></div>
</head>


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <i class="fas fa-map-marker-alt mr-2"></i> Cadastrar Local
    </h6>
  </div>

  <div class="card-body">
    <form th:action="@{/locais/cadastrar}" th:object="${local}" method="post">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="comarca">Comarca:</label>
          <input type="text" class="form-control" id="comarca" th:field="*{comarca}" required />
        </div>
        <div class="form-group col-md-6">
          <label for="localizacao">Localização:</label>
          <input type="text" class="form-control" id="localizacao" th:field="*{localizacao}" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="especialidade">Especialidade:</label>
          <input type="text" class="form-control" id="especialidade" th:field="*{especialidade}" required />
        </div>
        <div class="form-group col-md-6">
          <label for="numeroVara">Número da Vara:</label>
          <input type="text" class="form-control" id="numeroVara" th:field="*{numeroVara}" required />
        </div>
      </div>

      <div class="form-group">
        <label for="codigo">Código:</label>
        <input type="number" class="form-control" id="codigo" th:field="*{codigo}" required />
      </div>

      <div class="form-group">
        <label for="obs">Observações:</label>
        <textarea class="form-control" id="obs" th:field="*{obs}" rows="3"></textarea>
      </div>

      <hr class="mt-4 mb-4">

      <button type="submit" class="btn btn-primary">Salvar</button>
      <a th:href="@{/locais/listar}" class="btn btn-secondary ml-2">Cancelar</a>
    </form>
  </div>
</div>
<div th:replace="~{fragments/foot :: bot}"></div>

</html>