<!-- src/main/resources/templates/pessoas/listar-pessoas.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Listar Pessoas</title>
</head>
<body>
  <h1>Lista de Pessoas</h1>
  <a th:href="@{/pessoas/cadastrar}">Cadastrar nova Pessoa</a>
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th><th>Nome</th><th>Tipo</th>
        <th>Sexo</th><th>Data Nascimento</th>
        <th>CPF</th><th>Identidade</th><th>CRM / OAB</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="p : ${pessoas}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.tipo}"></td>
        <td th:text="${p.sexo}"></td>
        <td th:text="${p.dataNascimento}"></td>
        <td th:text="${p.cpf}"></td>
        <td th:text="${p.identidade}"></td>
        <td th:text="${p.documentoEspecial}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
