<!-- src/main/resources/templates/fragments/head.html -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <th:block th:fragment="top">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SB Admin 2</title>
      <!-- Custom fonts for this template-->
      <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900"
        rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body id="page-top">
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/intranet}">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
          </a>

          <hr class="sidebar-divider my-0"/>

          <!-- Nav Item - Dashboard -->
          <li class="nav-item">
            <a class="nav-link" th:href="@{/intranet}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <hr class="sidebar-divider"/>

          <!-- Heading -->
          <div class="sidebar-heading">
            Menu
          </div>

          <!-- Nav Item - Pessoas Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePessoas"
               aria-expanded="true" aria-controls="collapsePessoas">
              <i class="fas fa-fw fa-user"></i>
              <span>Pessoas</span>
            </a>
            <div id="collapsePessoas" class="collapse" aria-labelledby="headingPessoas"
                 data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{/pessoas/cadastrar}">Cadastrar Pessoa</a>
                <a class="collapse-item" th:href="@{/pessoas/listar}">Listar Pessoas</a>
              </div>
            </div>
          </li>

          <!-- Nav Item - Processo Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcesso"
               aria-expanded="true" aria-controls="collapseProcesso">
              <i class="fas fa-fw fa-briefcase"></i>
              <span>Processo</span>
            </a>
            <div id="collapseProcesso" class="collapse" aria-labelledby="headingProcesso"
                 data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{/processo/novo}">Novo Processo</a>
                <a class="collapse-item" th:href="@{/processo/listar}">Listar Processos</a>
              </div>
            </div>
          </li>

          <!-- Nav Item - Produtos Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProdutos"
               aria-expanded="true" aria-controls="collapseProdutos">
              <i class="fas fa-fw fa-box-open"></i>
              <span>Produtos</span>
            </a>
            <div id="collapseProdutos" class="collapse" aria-labelledby="headingProdutos"
                 data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{/produtos/novo}">Novo Produto</a>
                <a class="collapse-item" th:href="@{/produtos/listar}">Listar Produtos</a>
              </div>
            </div>
          </li>

          <hr class="sidebar-divider d-none d-md-block"/>

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              <!-- (adicione aqui search, alerts, user info etc.) -->
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
