<!-- src/main/resources/templates/fragments/head.html -->
<th:block th:fragment="top">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GRUPOPROD</title>

    <!-- Fonts & Styles -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  </head>

  <body id="page-top">
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/intranet}">
          <div class="sidebar-brand-text mx-3">GrupoProd</div>
        </a>

        <hr class="sidebar-divider my-0" />

        <!-- Dashboard -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/intranet}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Menu
        </div>

        <!-- Menu Principal: Cadastrar -->
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCadastrar"
            aria-expanded="true" aria-controls="collapseCadastrar">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>Cadastrar</span>
          </a>
          <div id="collapseCadastrar" class="collapse" aria-labelledby="headingCadastrar"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" th:href="@{/pessoas/cadastrar}">Pessoa</a>
              <a class="collapse-item" th:href="@{/usuarios/cadastrar}">Usuário</a>
              <a class="collapse-item" th:href="@{/produtos/cadastrar}">Produto</a>
              <a class="collapse-item" th:href="@{/locais/cadastrar}">Local</a>
              <a class="collapse-item" th:href="@{/hospitais/cadastrar}">Hospital</a>
              <a class="collapse-item" th:href="@{/doencas/cadastrar}">Doenças</a>
            </div>
          </div>
        </li>

        <!-- Menu Principal: Editar -->
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcesso"
            aria-expanded="true" aria-controls="collapseEditar">
            <i class="fas fa-fw fa-edit"></i>
            <span>Editar</span>
          </a>
          <div id="collapseProcesso" class="collapse" aria-labelledby="headingEditar" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" th:href="@{/pessoas/listar}">Pessoas</a>
              <a class="collapse-item" th:href="@{/usuarios}">Usuários</a>
              <a class="collapse-item" th:href="@{/produtos/listar}">Produtos</a>
              <a class="collapse-item" th:href="@{/locais/listar}">Locais</a>
              <a class="collapse-item" th:href="@{/hospitais}">Hospitais</a>
              <a class="collapse-item" th:href="@{/doencas/listar}">Doenças</a>
            </div>
          </div>
        </li>

        <!-- Menu: Processo -->
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEditar"
            aria-expanded="true" aria-controls="collapseEditar">
            <i class="fas fa-gavel"></i>
            <span>Processos</span>
          </a>
          <div id="collapseEditar" class="collapse" aria-labelledby="headingEditar" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" th:href="@{/processos/cadastrar}">Criar Processo</a>
              <a class="collapse-item" th:href="@{/processos/listar}">Listar Processo</a>
            </div>
          </div>
        </li>


        <!-- Menu: Manutenção -->
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" th:href="@{/maintenance}">
            <i class="fas fa-fw fa-tools"></i>
            <span>Manutenção</span>
          </a>
        </li>

        <!-- Menu: Relatórios -->
        <li class="nav-item" sec:authorize="hasAnyRole('USUARIO','ADMIN')">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRelatorios"
            aria-expanded="true" aria-controls="collapseRelatorios">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Relatórios</span>
          </a>
          <div id="collapseRelatorios" class="collapse" aria-labelledby="headingRelatorios"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Relatórios</h6>
              <a class="collapse-item" th:href="@{/relatorios/processos}">Processos</a>
              <!-- Adicione outros relatórios aqui -->
            </div>
          </div>
        </li>


        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Login para anônimos -->
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">
                  <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Login
                </a>
              </li>

              <!-- Dropdown para usuários logados -->
              <li class="nav-item dropdown no-arrow" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
                  <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}" alt="Usuário">
                </a>
                <!-- Dropdown Menu -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <!-- <a class="dropdown-item" th:href="@{/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                  </a> -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">