<!-- src/main/resources/templates/blank.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!-- 1) injeta head, sidebar, topbar e já abre o <div class="container-fluid"> -->
  <div th:replace="~{fragments/head :: top}"></div>

    <!-- 2) conteúdo específico desta página -->
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
    <!-- aqui você vai adicionando o que precisar nas outras páginas -->

  <!-- 3) injeta fechamento de container, footer e scripts -->
  <div th:replace="~{fragments/foot :: bot}"></div>

</html>
